* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
/******** HEADER********/
header {
    background-color: rgb(8, 11, 18);
    width: 100%;
    height: 5rem;
    position: sticky;
}

.container-header {
    max-width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.btn-white {
    color: white;
    width: 11rem;
    height: 2rem;
    padding: 0.5rem;
    border-radius: 15px;
    border: 1px solid white;
    font-size: 0.7rem;
    text-align: center;
}

/******MAIN******/
   .container-big {
     height: 80vh;
     background-color: rgb(20, 25, 34);
   }

   .nav-spotify {
     width: 10%;
     height: 80vh;
     background-color: black;
   }

   .col-logo {
    display: flex;
    align-items: center;
    flex-direction: column;
   }

   .col-logo2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 19rem;
   }

   .logo-spotify {
    color: white;
    font-size: 1.5rem;
    margin-top: 1rem;
   }
    
   .logo {
    color: white;
    font-size: 1.2rem;
    margin-top: 1rem;
   }

   .logo2 {
    font-size: 1.2rem;
    color: grey;
    margin-top: 1rem;
   }

   .logo3 {
    font-size: 1rem;
    color: grey;
    margin-left: 0.2rem;
   }

   .logo4 {
    color: white;
    font-size: 1.2rem;
    margin-top: 0.5rem;
   }

   #spotify {
    background-image: url(../img/logo.svg);
    background-size: contain ;
    background-repeat: no-repeat;
    width: 200px;
    height: 50px;
    color: white;
    display: none;
   }

   .writtwn-navbar {
    font-size: 0.8rem;
    margin-left: 0.5rem;
    margin-top: 0.3rem;
    display: none;
    color: grey;
   }

   .playlist {
    display: none;
    height: 10rem;
   }

   .title-playlist {
      display: flex;
      align-items: center;
      color: white;
      margin-top: 1.5rem;
      margin-left: 1rem;
      display: none;
    }

    .square {
        width: 30px;
        height: 30px;
        background-color: grey;
        margin-left: 1rem;
        margin-top: 0.5rem;
    }

    .plus {
        font-size: 1.7rem;
        margin-left: 3px;
        display: flex;
       
    }

    .written {
        color: grey;
        font-size: 0.8rem;
        margin-left: 1rem;
        width: 150px;
        margin-top: 0.5rem;
        display: flex;
        align-items: center;
    }

    .name-playlist {
        color: grey;
        font-size: 0.7rem;
        margin-top: 0.5rem;
        margin-left: 1rem;
        line-height: 1.5rem;
        list-style-type: none;
    }

    hr {
        margin-top: 0.5rem;
        color: grey;
        margin-right: 1rem;
        display: none;
    }

    .download {
        color: grey;
        font-size: 0.7rem;
        margin-left: 0.7rem;
        margin-top: 2px;
        display: none;
    }

    .user {
        color: white;
        margin-left: 0.5rem;
        display: none;
    }

    .musical-genres {
        height: 80vh;
        
        margin-left: 2.2rem;
        margin-top: -33.5rem;
    }
   

    .searchformusic {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 1rem;
        margin-left: 1rem;
        justify-content: center;
        gap: 15px;
        
    }

    .written-musical {
        color: grey;
        font-size: 0.6rem;
        margin-top: 1rem;
    }

    .recently-played {
        color: white;
        margin-top: 2rem;
        margin-left: 1rem;
        font-size: 1.3rem;
    }

    /******ALBUM*******/
    .container-flex {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
       gap: 10px;
    }
    .container-album {
        width: 150px;
        height: 230px;

    }

    .title-album {
        color: white;
        margin-top: 0.5rem;
        margin-left: 3rem;
    }

    .artist {
        color: gray;
        font-size: 0.7rem;
        margin-left: 4.5rem;
        margin-top: 0.5rem;
    }

    .img-album {
        background-image: url(../img/metal_lifting.jpg);
        background-size: cover;
        width: 150px;
        height: 150px;
        margin-left: 1rem;
        margin-top: 1rem;
    }

  /******Album 2******/
    .img-album2 {
      background-image: url(../img/stranger.jpeg);
      background-size: cover;
      width: 150px;
      height: 150px;
      margin-left: 1rem;
      margin-top: 1rem;
    }

    .title-album2 {
        color: white;
        margin-top: 0.5rem;
        margin-left: 1.5rem;
        width: 150px;
        font-size: 0.9rem;
    }

    .artist2 {
        color: gray;
        font-size: 0.7rem;
        margin-left: 1.5rem;
        margin-top: 0.5rem;
        width: 150px;
    }

    /*******ALBUM 3******/

    .img-album3 {
        background-image: url(../img/aquietplace.jpeg);
        background-size: cover;
        width: 150px;
        height: 150px;
        margin-left: 1rem;
        margin-top: 1rem;
    }

     /*******ALBUM 4******/

     .img-album4{
        background-image: url(../img/split.jpeg);
        background-size: cover;
        width: 150px;
        height: 150px;
        margin-left: 1rem;
        margin-top: 1rem;
    }
  
        


        
       



   
   
    /******FOOTER*******/
    footer {
        width: 100%;
        height: 7.7vh;
        background-color: rgb(40, 40, 40);
        position: sticky;
    }

/******************* RESPONSIVE ***********************/
/* Smal Tablet */
@media all and (min-width: 500px) {

    .container-header {
        max-width: 100%;
    }

    .nav-spotify {
        width: 14rem;
        height: 80vh;
        background-color: black;
    }

    .col-logo {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin-left: 1rem;
    }

    .col-logo2 {
        display: flex;
        align-items:stretch;
        flex-direction: column;
        margin-top: 6rem;
        margin-left: 1rem;
    }

    .logo-spotify {
        display: none;
    }

    #spotify {
        display: block;
        width: 100%;
        margin-top: 0.5rem;
    }

    .writtwn-navbar {
        display: block;
    }

    .title-playlist {
        display: block;
    }
    
    .playlist {
        display: block;
    }

    hr {
        display: block;
    }

    .user {
        display: block;
    }

    .download {
        display: block;
    }

    .musical-genres {
        height: 80vh;
        
        margin-left: 14rem;
        margin-top: -33.5rem;
    }

    .searchformusic {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 1rem;
        margin-left: 2rem;
        justify-content: center;
        gap: 15px;
        
    }

   
   
       


   

}


/* Tablet */
@media all and (min-width: 700px) {

    .container-header {
        max-width: 100%;
    }

    .nav-spotify {
        width: 14rem;
        height: 80vh;
        background-color: black;
    }

    .col-logo {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin-left: 1rem;
    }

    .col-logo2 {
        display: flex;
        align-items:stretch;
        flex-direction: column;
        margin-top: 6rem;
        margin-left: 1rem;
    }

    .logo-spotify {
        display: none;
    }

    #spotify {
        display: block;
        width: 100%;
        margin-top: 0.5rem;
    }

    .writtwn-navbar {
        display: block;
    }

    .title-playlist {
        display: block;
    }
    
    .playlist {
        display: block;
    }

    hr {
        display: block;
    }

    .user {
        display: block;
    }

    .download {
        display: block;
    }

    .musical-genres {
        height: 80vh;
        
        margin-left: 14rem;
        margin-top: -33.5rem;
    }

    .searchformusic {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 1rem;
        margin-left: 2rem;
        justify-content: center;
        gap: 15px;
        
    }

   
   
       


   

}

/* Desktop */
@media all and (min-width: 900px) {

    .container-header {
       max-width: 100%;
    }

    .nav-spotify {
        width: 14rem;
        height: 80vh;
        background-color: black;
    }

    .col-logo {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .col-logo2 {
        display: flex;
        align-items:stretch;
        flex-direction: column;
        margin-top: 6rem;
    }
    
    .logo-spotify {
        display: none;
        width: 20%;
    } 

    .writtwn-navbar {
        display: block;
    }

    .title-playlist {
        display: block;
    }

    .playlist {
        display: block;
    }

    hr {
        display: block;
    }

    .user {
        display: block;
    }

    .download {
        display: block;
    }

    .searchformusic {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 1rem;
        margin-left: 12rem;
        justify-content: center;
        gap: 15px;
        
    }

    .musical-genres {
        height: 80vh;
        
        margin-left: 14rem;
        margin-top: -33.5rem;
    }

    

   

}

/* Large Desktop */
@media all and (min-width: 1200px) {

    .container-header {
        max-width: 100%;
    }

    .nav-spotify {
        width: 14rem;
        height: 80vh;
        background-color: black;
    }

    .col-logo {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .col-logo2 {
        display: flex;
        align-items:stretch;
        flex-direction: column;
        margin-top: 11rem;
    }
    

  
    .logo-spotify {
        display: none;
        width: 25%;
    } 
    
    .writtwn-navbar {
        display: block;
    }

    .title-playlist {
        display: block;
    }

    .playlist {
        display: block;
    }

    hr {
        display: block;
    }

    .user {
        display: block;
    }

    .download {
        display: block;
    }

    .musical-genres {
        height: 80vh;
        
        margin-left: 14rem;
        margin-top: -38rem;
    }

    .searchformusic {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 1rem;
        margin-left: 2rem;
        justify-content: center;
        gap: 15px;
        
    }
    

    

    footer {
        width: 100%;
        height: 9.2vh;
        background-color: rgb(40, 40, 40);
        position: sticky;
    }

}